*.pyc
*.log
*.so
__pycache__
build/
nativepython.egg-info

# Ignore node modules
# and evironments EVERYWHERE
nodeenv
.nodeenv
node_modules

# ignore the main bundle
content/dist/main.bundle.js

# Emacs
\#*
\.#*

# leading slash means only match at repo-root level
/.python-version
/testcert.key
/testcert.cert
/.venv
/.eggs
/.coverage*
/.tox
/.env

# don't need the package lock for this sub-pipenv.
object_database/web/content/package-lock.json
