*.pyc
*.log
*.so
__pycache__
build/
nativepython.egg-info

# Ignore node modules
# and evironments EVERYWHERE
nodeenv
.nodeenv
node_modules

# Emacs
\#*
\.#*

# leading slash means only match at repo-root level
/.python-version
/testcert.key
/testcert.cert
/.venv
/.eggs
/.coverage
/.tox
