*.pyc
*.log
*.so
__pycache__
build/
typed_python.egg-info

# Ignore node modules
# and evironments EVERYWHERE
nodeenv
.nodeenv
node_modules
object_database/web/content/dist

# Emacs
\#*
\.#*

# leading slash means only match at repo-root level
/.python-version
/.venv*
/.eggs
/.coverage*
/.tox
/.env*
/.test_venv
/dist/
/wheels/
/pip-wheel-metadata/
/testcert.cert
/testcert.key

.idea/

# build_scripts sets up temporary symlinks so don't accidentally check them in
Pipfile
Pipfile.lock