dist: xenial


language: python


compiler: g++


env:
  global:
    - TRAVIS_CI=true
    - PYTHONPATH=$(pwd)
    - COVERAGE_PROCESS_START="$(pwd)/tox.ini"


cache:
  directories:
    - $HOME/.cache/pip


jobs:
  include:
    - stage: "Tests"
      name: "Lint"
      python: 3.6
      install:
        - pip install flake8
      script:
        - make lint

    - name: "pipenv check"
      python: 3.6
      install:
        - pip install pipenv
      script:
        - pipenv check --ignore 37752 || (sleep 60; pipenv check --ignore 37752) || (sleep 60; pipenv check --ignore 37752)

    - name: "Unit Tests (3.6)"
      python: 3.6
      before_script:
        - ulimit -c unlimited -S       # enable core dumps
      install:
        - pip install pipenv codecov
        - pipenv lock --requirements > reqs.txt
        - pip install --requirement reqs.txt
        - pipenv lock --dev --requirements > dev-reqs.txt
        - pip install --requirement dev-reqs.txt
        - sudo apt-get install --assume-yes gdb  # install gdb
      script:
        - coverage erase
        - pytest
        - ls -la
        - coverage combine
      after_success:
        - codecov
      after_failure:
        - PYTHON_EXECUTABLE=$(python3 -c "import sys; print(sys.executable)")
        - COREFILE=$(find . -maxdepth 1 -name "core*" | head -n 1) # find core file
        - if [[ -f "$COREFILE" ]]; then
              gdb -c "$COREFILE" $PYTHON_EXECUTABLE -ex "thread apply all bt" -ex "set pagination 0" -batch;
          fi

    - name: "Unit Tests (3.7.4)"
      python: 3.7.4
      before_script:
        - ulimit -c unlimited -S       # enable core dumps
      install:
        - pip install pipenv
        - pipenv lock --requirements > reqs.txt
        - pip install --requirement reqs.txt
        - pipenv lock --dev --requirements > dev-reqs.txt
        - pip install --requirement dev-reqs.txt
        - sudo apt-get install --assume-yes gdb  # install gdb
      script:
        - pytest
      after_failure:
        - PYTHON_EXECUTABLE=$(python3 -c "import sys; print(sys.executable)")
        - COREFILE=$(find . -maxdepth 1 -name "core*" | head -n 1) # find core file
        - if [[ -f "$COREFILE" ]]; then
              gdb -c "$COREFILE" $PYTHON_EXECUTABLE -ex "thread apply all bt" -ex "set pagination 0" -batch;
          fi

    - name: "Unit Tests (>=3.7) (osx)"
      os: osx
      osx_image: xcode11    # Python 3.7.4 running on macOS 10.14.4
      language: shell       # 'language: python' is an error on Travis CI macOS
      install:
        - pip3 install --upgrade pip pipenv coverage flaky pytest
        - pip3 install --upgrade --editable .
      script:
        - version=$(python3 --version | cut -d' ' -f2)
        - major=$(echo $version | cut -d'.' -f1);
          if [ "$major" -lt "3" ]; then
            echo "Expected python version >= 3 but found $version"; exit 1;
          fi
        - minor=$(echo $version | cut -d'.' -f2);
          if [ "$minor" -lt "7" ]; then
            echo "Expected python version >= 3.7 but found $version"; exit 1;
          fi
        - echo "Expected python version >= 3.7 and found $version, which is acceptable"
        - pytest
