[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
beautifulsoup4 = "*"
flake8 = "*"
nose = "*"
py_w3c = "*"

[packages]
boto3 = "*"
flask = "*"
flask-cors = "*"
flask-login = "*"
flask-sockets = "*"
flask-wtf = "*"
gevent = "*"
ldap3 = "*"
llvmlite = "*"
lz4 = "*"
numpy = "*"
psutil = "*"
pytz = "*"
pyyaml = "*"
redis = "*"
requests = "*"
websockets = "*"
nativepython = {editable = true,path = "."}

[requires]
python_version = "3.6"
