[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
flake8 = "*"
autopep8 = "*"
beautifulsoup4 = "*"
py_w3c = "*"

[packages]
redis = "*"
gevent = "*"
lz4 = "*"
numpy = "*"
psutil = "*"
flask-sockets = "*"
flask-cors = "*"
requests = "*"
websockets = "*"
llvmlite = "*"
nativepython = {editable = true,path = "."}
boto3 = "*"
pyyaml = "*"
ldap3 = "*"
flask-login = "*"
flask-wtf = "*"
pytz = "*"

[requires]
python_version = "3.6"
