/**
 * Application Wide Stylesheet for ActiveWebService
 **/

/* Page Root  and other global-type elements*/
#page_root {
    height: 100vh;
}

.subscribed {
    width: 100%;
    height: 100%;
}

/* ResizablePanel and Friends
 * =====================================================*/
.resizable-panel {
    display: flex;
    width: 100%;
    height: 100%;
}

.resizable-panel.vertical-panel {
    flex-direction: column
}

.resizable-panel-item {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
}

.resizable-panel-handle {
    padding: 0;
    flex: 0 0 auto;
}

.horizontal-panel > .resizable-panel-handle::before {
    height: 100%;
    width: 4px;
}

.vertical-panel > .resizable-panel-handle::before {
    width: 100%;
    height: 4px;
}

.resizable-panel-handle::before {
    content: "";
    display: block;
    margin: 0 auto;
    background: black;
}

.vertical-panel > .resizable-panel-handle {
    cursor: ns-resize;
    height: 20px;
}

.horizontal-panel > .resizable-panel-handle {
    cursor: ew-resize;
    width: 20px;
}

/* In the Split.js implementation, we can
 * style the created 'gutters' (resizers)
 */
.resizable-panel .gutter {
    background-color: transparent;
    transition: background-color 150ms linear;
}

.resizable-panel .gutter:hover {
    background-color: rgba(200, 200, 200, 0.5);
    transition background-color 150ms linear;
}

.vertical-panel > .gutter:hover {
    cursor: ns-resize;
}

.horizontal-panel > .gutter:hover {
    cursor: ew-resize;
}



/* Modals (bypasses Bootstrap implementation)
* =============================================================*/

.modal-cell {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.0);
    transition: background-color 0.1s linear;
    z-index: -1;
    opacity: 0.0;
}

.modal-cell-show {
    display: block;
    opacity: 1.0;
    background-color: rgba(50, 50, 50, 0.5);
    transition: background-color 0.2s linear;
    z-index: 1050;
}

/* Sequence and HorizontalSequence
 *================================================================*/
.sequence {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.sequence-vertical {
    flex-direction: column;
    align-items: flex-start;
}

.sequence-horizontal {
    flex-direction: row;
    align-items: center;
}

/* PageView
 *================================================================*/
.page-view {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.page-view > header {
    height: 5%;
}

.page-view > main {
    height: 95%;
}

.page-view-header {

}

.page-view-footer {

}

/* Generic and Utility Classes
 *======================================================*/
.overflow {
    overflow: auto;
}
